!!!
%html{ lang: "ja" }
  %head
    = partial "partials/head_contents"
  %body{ class: "g-pt-130 g-pt-140--md g-pt-170--lg #{page_classes}" }
    = partial "partials/menu"
    = yield
    = partial "partials/footer_contents"
