/ Footer
%footer.text-center.text-md-left.g-color-gray-dark-v4.g-bg-gray-dark-v2.g-py-25
  .container
    .row
      .col-md-6.d-flex.align-items-center.g-mb-10.g-mb-0--md
        %p.w-100.g-color-gray-light-v8.mb-0
          © 2017 All right reserved. Development by
          %a.g-font-weight-700.g-color-white{:href => "#!"} HTML Stream
      .col-md-6
        %ul.list-inline.float-md-right.mb-0
          %li.list-inline-item.g-mr-10
            %a.u-icon-v3.g-width-28.g-height-28.g-font-size-14.g-color-gray-light-v9.g-color-white--hover.g-brd-gray-dark-v2.g-bg-gray-dark-v2.g-bg-primary--hover.g-rounded-4.g-transition-0_2.g-transition--ease-in{:href => "#!"}
              %i.fa.fa-twitter
          %li.list-inline-item.g-mr-10
            %a.u-icon-v3.g-width-28.g-height-28.g-font-size-14.g-color-gray-light-v9.g-color-white--hover.g-brd-gray-dark-v2.g-bg-gray-dark-v2.g-bg-primary--hover.g-rounded-4.g-transition-0_2.g-transition--ease-in{:href => "#!"}
              %i.fa.fa-pinterest
          %li.list-inline-item.g-mr-10
            %a.u-icon-v3.g-width-28.g-height-28.g-font-size-14.g-color-gray-light-v9.g-color-white--hover.g-brd-gray-dark-v2.g-bg-gray-dark-v2.g-bg-primary--hover.g-rounded-4.g-transition-0_2.g-transition--ease-in{:href => "#!"}
              %i.fa.fa-facebook
          %li.list-inline-item
            %a.u-icon-v3.g-width-28.g-height-28.g-font-size-14.g-color-gray-light-v9.g-color-white--hover.g-brd-gray-dark-v2.g-bg-gray-dark-v2.g-bg-primary--hover.g-rounded-4.g-transition-0_2.g-transition--ease-in{:href => "#!"}
              %i.fa.fa-instagram
          %li.list-inline-item
            %a.u-icon-v3.g-width-28.g-height-28.g-font-size-14.g-color-gray-light-v9.g-color-white--hover.g-brd-gray-dark-v2.g-bg-gray-dark-v2.g-bg-primary--hover.g-rounded-4.g-transition-0_2.g-transition--ease-in{:href => "#!"}
              %i.fa.fa-linkedin
/ End Footer

-# = Unify Javascript
= javascript_include_tag "/vendor/jquery/jquery.min.js"
= javascript_include_tag "/vendor/jquery-migrate/jquery-migrate.min.js"
= javascript_include_tag "/vendor/popper.min.js"
= javascript_include_tag "/vendor/bootstrap/bootstrap.min.js"

-# JS Implementing Plugins
= javascript_include_tag "/vendor/appear.js"
= javascript_include_tag "/vendor/chosen/chosen.jquery.js"
= javascript_include_tag "/vendor/image-select/src/ImageSelect.jquery.js"
= javascript_include_tag "/vendor/circles/circles.min.js"
= javascript_include_tag "/vendor/slick-carousel/slick/slick.js"
= javascript_include_tag "/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"
= javascript_include_tag "/vendor/gmaps/gmaps.min.js"

= javascript_include_tag "assets/javascripts/unify/hs.core.js"
= javascript_include_tag "assets/javascripts/unify/components/hs.header.js"
= javascript_include_tag "assets/javascripts/unify/helpers/hs.hamburgers.js"
= javascript_include_tag "assets/javascripts/unify/components/hs.scroll-nav.js"
= javascript_include_tag "assets/javascripts/unify/components/hs.select.js"
= javascript_include_tag "assets/javascripts/unify/components/hs.chart-pie.js"
= javascript_include_tag "assets/javascripts/unify/components/hs.carousel.js"
= javascript_include_tag "assets/javascripts/unify/components/hs.cubeportfolio.js"
-#= javascript_include_tag "assets/javascripts/unify/components/gmap/hs.map.js"
= javascript_include_tag "assets/javascripts/unify/components/hs.go-to.js"

:javascript
  // initialization of google map
  function initMap() {
    $.HSCore.components.HSGMap.init('.js-g-map');
  }

  $(document).on('ready', function () {
    // initialization of carousel
    $.HSCore.components.HSCarousel.init('.js-carousel');

    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of custom select
    $.HSCore.components.HSSelect.init('.js-custom-select');

    // initialization of go to section
    $.HSCore.components.HSGoTo.init('.js-go-to');

    // initialization of chart pies
    var items = $.HSCore.components.HSChartPie.init('.js-pie');
  });

  $(window).on('load', function() {
    // initialization of HSScrollNav
    $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
      duration: 700
    });

    // initialization of cubeportfolio
    $.HSCore.components.HSCubeportfolio.init('.cbp');
  });
